In [1]:
import pandas as pd
from pathlib import Path
import datetime as dt

In [2]:
#Read in 2020 data
jan_2020 = pd.read_csv(Path('../Resources/2020/jan_2020.csv'), parse_dates=True, infer_datetime_format=True)
feb_2020 = pd.read_csv(Path('../Resources/2020/feb_2020.csv'), parse_dates=True, infer_datetime_format=True)
mar_2020 = pd.read_csv(Path('../Resources/2020/mar_2020.csv'), parse_dates=True, infer_datetime_format=True)
apr_2020 = pd.read_csv(Path('../Resources/2020/apr_2020.csv'), parse_dates=True, infer_datetime_format=True)
may_2020 = pd.read_csv(Path('../Resources/2020/may_2020.csv'), parse_dates=True, infer_datetime_format=True)
june_2020 = pd.read_csv(Path('../Resources/2020/june_2020.csv'), parse_dates=True, infer_datetime_format=True)
july_2020 = pd.read_csv(Path('../Resources/2020/july_2020.csv'), parse_dates=True, infer_datetime_format=True)
aug_2020 = pd.read_csv(Path('../Resources/2020/aug_2020.csv'), parse_dates=True, infer_datetime_format=True)
sept_2020 = pd.read_csv(Path('../Resources/2020/sept_2020.csv'), parse_dates=True, infer_datetime_format=True)
oct_2020 = pd.read_csv(Path('../Resources/2020/oct_2020.csv'), parse_dates=True, infer_datetime_format=True)
nov_2020 = pd.read_csv(Path('../Resources/2020/nov_2020.csv'), parse_dates=True, infer_datetime_format=True)
dec_2020 = pd.read_csv(Path('../Resources/2020/dec_2020.csv'), parse_dates=True, infer_datetime_format=True)

In [3]:
#Concatenate 2020 data
df_2020 = pd.concat([jan_2020, feb_2020, mar_2020, apr_2020, may_2020, june_2020, july_2020, aug_2020, sept_2020, oct_2020, nov_2020, dec_2020], ignore_index=True)

In [4]:
df_2020.rename(columns={'starttime': 'started_at', 'stoptime': 'ended_at', 'start station id': 'start_station_id', 'start station name': 'start_station_name', 'start station latitude': 'start_lat', 
                         'start station longitude': 'start_lng', 'end station id': 'end_station_id', 'end station name': 'end_station_name', 'end station latitude': 'end_lat', 
                         'end station longitude': 'end_lng'}, inplace=True)

In [5]:
df_2020.drop(columns=['tripduration', 'bikeid', 'birth year', 'gender'], inplace=True)

In [6]:
df_2020.head()

,started_at,ended_at,start_station_id,start_station_name,start_lat,start_lng,end_station_id,end_station_name,end_lat,end_lng,usertype
0,2020-01-01 00:00:55.3900,2020-01-01 00:14:05.1470,504,1 Ave & E 16 St,40.732219,-73.981656,307,Canal St & Rutgers St,40.714275,-73.989900,Subscriber
1,2020-01-01 00:01:08.1020,2020-01-01 00:26:49.1780,3423,West Drive & Prospect Park West,40.661063,-73.979453,3300,Prospect Park West & 8 St,40.665147,-73.976376,Customer
2,2020-01-01 00:01:42.1400,2020-01-01 00:26:07.0110,3687,E 33 St & 1 Ave,40.743227,-73.974498,259,South St & Whitehall St,40.701221,-74.012342,Subscriber
3,2020-01-01 00:01:45.5610,2020-01-01 00:11:38.1550,346,Bank St & Hudson St,40.736529,-74.006180,490,8 Ave & W 33 St,40.751551,-73.993934,Subscriber
4,2020-01-01 00:01:45.7880,2020-01-01 00:13:28.2400,372,Franklin Ave & Myrtle Ave,40.694546,-73.958014,3637,Fulton St & Waverly Ave,40.683239,-73.965996,Subscriber

In [7]:
#File size of 2020 data
df_2020.memory_usage(deep=True).sum()

8395248865

In [8]:
df_2020.insert(0, 'trip_id', range(1, 1 + len(df_2020)))

In [9]:
start_date_2020 = pd.to_datetime(df_2020['started_at'], format = '%Y-%m-%d %H:%M:%S')
stop_date_2020 = pd.to_datetime(df_2020['ended_at'], format = '%Y-%m-%d %H:%M:%S')
df_2020['started_at'] = start_date_2020
df_2020['ended_at'] = stop_date_2020
month_start = df_2020['started_at'].dt.strftime('%b')
month_stop = df_2020['ended_at'].dt.strftime('%b')
df_2020['start_month'] = month_start
df_2020['stop_month'] = month_stop
df_2020['time_usage'] = df_2020['ended_at'] - df_2020['started_at']
df_2020.head()

,trip_id,started_at,ended_at,start_station_id,start_station_name,start_lat,start_lng,end_station_id,end_station_name,end_lat,end_lng,usertype,start_month,stop_month,time_usage
0,1,2020-01-01 00:00:55.390,2020-01-01 00:14:05.147,504,1 Ave & E 16 St,40.732219,-73.981656,307,Canal St & Rutgers St,40.714275,-73.989900,Subscriber,Jan,Jan,0 days 00:13:09.757000
1,2,2020-01-01 00:01:08.102,2020-01-01 00:26:49.178,3423,West Drive & Prospect Park West,40.661063,-73.979453,3300,Prospect Park West & 8 St,40.665147,-73.976376,Customer,Jan,Jan,0 days 00:25:41.076000
2,3,2020-01-01 00:01:42.140,2020-01-01 00:26:07.011,3687,E 33 St & 1 Ave,40.743227,-73.974498,259,South St & Whitehall St,40.701221,-74.012342,Subscriber,Jan,Jan,0 days 00:24:24.871000
3,4,2020-01-01 00:01:45.561,2020-01-01 00:11:38.155,346,Bank St & Hudson St,40.736529,-74.006180,490,8 Ave & W 33 St,40.751551,-73.993934,Subscriber,Jan,Jan,0 days 00:09:52.594000
4,5,2020-01-01 00:01:45.788,2020-01-01 00:13:28.240,372,Franklin Ave & Myrtle Ave,40.694546,-73.958014,3637,Fulton St & Waverly Ave,40.683239,-73.965996,Subscriber,Jan,Jan,0 days 00:11:42.452000

In [10]:
df_2020.to_csv('../Resources/2020/2020_citi_bike_data.csv', index=False)