In [1]:
import pandas as pd
from pathlib import Path
import datetime as dt

In [2]:
jan_2021 = pd.read_csv(Path('../Resources/2021/jan_2021.csv'), parse_dates=True, infer_datetime_format=True, low_memory=False)
feb_2021 = pd.read_csv(Path('../Resources/2021/feb_2021.csv'), parse_dates=True, infer_datetime_format=True, low_memory=False)
mar_2021 = pd.read_csv(Path('../Resources/2021/mar_2021.csv'), parse_dates=True, infer_datetime_format=True, low_memory=False)
apr_2021 = pd.read_csv(Path('../Resources/2021/apr_2021.csv'), parse_dates=True, infer_datetime_format=True, low_memory=False)
may_2021 = pd.read_csv(Path('../Resources/2021/may_2021.csv'), parse_dates=True, infer_datetime_format=True, low_memory=False)
june_2021 = pd.read_csv(Path('../Resources/2021/june_2021.csv'), parse_dates=True, infer_datetime_format=True, low_memory=False)
july_2021 = pd.read_csv(Path('../Resources/2021/july_2021.csv'), parse_dates=True, infer_datetime_format=True, low_memory=False)
aug_2021 = pd.read_csv(Path('../Resources/2021/aug_2021.csv'), parse_dates=True, infer_datetime_format=True, low_memory=False)
sept_2021 = pd.read_csv(Path('../Resources/2021/sept_2021.csv'), parse_dates=True, infer_datetime_format=True, low_memory=False)
oct_2021 = pd.read_csv(Path('../Resources/2021/oct_2021.csv'), parse_dates=True, infer_datetime_format=True, low_memory=False)
nov_2021 = pd.read_csv(Path('../Resources/2021/nov_2021.csv'), parse_dates=True, infer_datetime_format=True, low_memory=False)
dec_2021 = pd.read_csv(Path('../Resources/2021/dec_2021.csv'), parse_dates=True, infer_datetime_format=True, low_memory=False)

In [3]:
jan_2021.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2513,2021-01-01 00:00:11.9020,2021-01-01 00:42:05.2260,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,47812,Customer,1969,0
1,2519,2021-01-01 00:00:15.0960,2021-01-01 00:42:14.9780,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,47571,Customer,1969,0
2,1207,2021-01-01 00:00:28.9300,2021-01-01 00:20:36.6510,3144,E 81 St & Park Ave,40.776777,-73.959010,3724,7 Ave & Central Park South,40.766741,-73.979069,37451,Subscriber,2002,1
3,2506,2021-01-01 00:00:32.7130,2021-01-01 00:42:19.3980,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,48884,Customer,2002,1
4,959,2021-01-01 00:00:35.3650,2021-01-01 00:16:34.6010,534,Water - Whitehall Plaza,40.702551,-74.012723,332,Cherry St,40.712199,-73.979481,26837,Customer,2002,1

In [4]:
jan_2021.rename(columns={'starttime': 'started_at', 'stoptime': 'ended_at', 'start station id': 'start_station_id', 'start station name': 'start_station_name', 'start station latitude': 'start_lat', 
                         'start station longitude': 'start_lng', 'end station id': 'end_station_id', 'end station name': 'end_station_name', 'end station latitude': 'end_lat', 
                         'end station longitude': 'end_lng'}, inplace=True)

In [5]:
jan_2021.head()

,tripduration,started_at,ended_at,start_station_id,start_station_name,start_lat,start_lng,end_station_id,end_station_name,end_lat,end_lng,bikeid,usertype,birth year,gender
0,2513,2021-01-01 00:00:11.9020,2021-01-01 00:42:05.2260,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,47812,Customer,1969,0
1,2519,2021-01-01 00:00:15.0960,2021-01-01 00:42:14.9780,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,47571,Customer,1969,0
2,1207,2021-01-01 00:00:28.9300,2021-01-01 00:20:36.6510,3144,E 81 St & Park Ave,40.776777,-73.959010,3724,7 Ave & Central Park South,40.766741,-73.979069,37451,Subscriber,2002,1
3,2506,2021-01-01 00:00:32.7130,2021-01-01 00:42:19.3980,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,48884,Customer,2002,1
4,959,2021-01-01 00:00:35.3650,2021-01-01 00:16:34.6010,534,Water - Whitehall Plaza,40.702551,-74.012723,332,Cherry St,40.712199,-73.979481,26837,Customer,2002,1

In [6]:
feb_2021.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,BBA33D73DECE976F,docked_bike,2021-02-26 16:38:54,2021-02-26 16:44:37,E 84 St & Park Ave,7243.04,E 78 St & 2 Ave,7057.07,40.778626,-73.957720,40.772797,-73.955778,casual
1,B63D7AFF9AC5B6D4,docked_bike,2021-02-17 11:09:11,2021-02-17 11:26:47,Macon St & Nostrand Ave,4214.03,Bond St & Fulton St,4479.06,40.680983,-73.950047,40.689622,-73.983043,member
2,52B829195C469D99,docked_bike,2021-02-26 18:33:29,2021-02-26 19:05:41,Macon St & Nostrand Ave,4214.03,Lefferts Pl & Franklin Ave,4222.02,40.680983,-73.950047,40.680342,-73.955769,casual
3,19C84ECA2B468476,docked_bike,2021-02-26 12:48:35,2021-02-26 13:07:24,Macon St & Nostrand Ave,4214.03,Bond St & Fulton St,4479.06,40.680983,-73.950047,40.689622,-73.983043,member
4,C0DDB771E70D9DF5,docked_bike,2021-02-25 17:23:22,2021-02-25 17:28:20,Madison Ave & E 26 St,6131.12,W 37 St & 5 Ave,6398.06,40.742685,-73.986713,40.750380,-73.983390,member

In [7]:
df_2021 = pd.concat([jan_2021, feb_2021, mar_2021, apr_2021, may_2021, june_2021, july_2021, aug_2021, sept_2021, oct_2021, nov_2021, dec_2021], ignore_index=True)

In [8]:
df_2021.drop(columns=['tripduration', 'bikeid', 'birth year', 'gender', 'ride_id', 'rideable_type' ], inplace=True)

In [9]:
df_2021.head()

,started_at,ended_at,start_station_id,start_station_name,start_lat,start_lng,end_station_id,end_station_name,end_lat,end_lng,usertype,member_casual
0,2021-01-01 00:00:11.9020,2021-01-01 00:42:05.2260,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,Customer,NaN
1,2021-01-01 00:00:15.0960,2021-01-01 00:42:14.9780,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,Customer,NaN
2,2021-01-01 00:00:28.9300,2021-01-01 00:20:36.6510,3144,E 81 St & Park Ave,40.776777,-73.959010,3724,7 Ave & Central Park South,40.766741,-73.979069,Subscriber,NaN
3,2021-01-01 00:00:32.7130,2021-01-01 00:42:19.3980,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,Customer,NaN
4,2021-01-01 00:00:35.3650,2021-01-01 00:16:34.6010,534,Water - Whitehall Plaza,40.702551,-74.012723,332,Cherry St,40.712199,-73.979481,Customer,NaN

In [10]:
df_2021.memory_usage(deep=True).sum()

15057426343

In [11]:
start_date_2021 = pd.to_datetime(df_2021['started_at'], format = '%Y-%m-%d %H:%M:%S')
stop_date_2021 = pd.to_datetime(df_2021['ended_at'], format = '%Y-%m-%d %H:%M:%S')
df_2021['started_at'] = start_date_2021
df_2021['ended_at'] = stop_date_2021
month_start = df_2021['started_at'].dt.strftime('%b')
month_stop = df_2021['ended_at'].dt.strftime('%b')
df_2021['start_month'] = month_start
df_2021['stop_month'] = month_stop
df_2021['time_usage'] = df_2021['ended_at'] - df_2021['started_at']
df_2021.head()

,started_at,ended_at,start_station_id,start_station_name,start_lat,start_lng,end_station_id,end_station_name,end_lat,end_lng,usertype,member_casual,start_month,stop_month,time_usage
0,2021-01-01 00:00:11.902,2021-01-01 00:42:05.226,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,Customer,NaN,Jan,Jan,0 days 00:41:53.324000
1,2021-01-01 00:00:15.096,2021-01-01 00:42:14.978,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,Customer,NaN,Jan,Jan,0 days 00:41:59.882000
2,2021-01-01 00:00:28.930,2021-01-01 00:20:36.651,3144,E 81 St & Park Ave,40.776777,-73.959010,3724,7 Ave & Central Park South,40.766741,-73.979069,Subscriber,NaN,Jan,Jan,0 days 00:20:07.721000
3,2021-01-01 00:00:32.713,2021-01-01 00:42:19.398,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,Customer,NaN,Jan,Jan,0 days 00:41:46.685000
4,2021-01-01 00:00:35.365,2021-01-01 00:16:34.601,534,Water - Whitehall Plaza,40.702551,-74.012723,332,Cherry St,40.712199,-73.979481,Customer,NaN,Jan,Jan,0 days 00:15:59.236000

In [ ]:
df_2021.to_csv('../Resources/2021/2021_citi_bike_data.csv', index=False)